@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

html,
body {
  min-height: 100vh;
}

body {
  background: radial-gradient(circle at 10% 10%, #f6d6c0 0%, #f5efe7 35%, #f2f7fa 100%);
}
